@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

.different-font {
    font-family: Epilogue;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
    /* Disable right-clicking */
    /* user-drag: none; */
}